.SummaryCard {
  width: 90vw;
  height: 5rem;
  border-style: solid;
  border-color: #6BB574;
  background-color: #FFFFFF;
  box-shadow: 0 0 1.5rem #888888;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin-top: 2rem;
  background-color: #6BB574;
  padding-left: 1rem;
}

.Background{
  background-color: #FFFFFF;
  width: 7rem;
  display: inline-block;
}

.SummaryCard .Name{
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  text-align: left;
  color: #FFFFFF;
}

.Background .Score {
  font-family: helvetica;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  color: #6BB574;
  border: none;
}
