# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/janif-react/node_modules/*

# testing
/coverage

# production
/janif-react/build/*

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/janif-react/yarn.lock
