.wipe-enter {
  opacity: 0.01;
  position: absolute;
  z-index: 1000;
  transform: translate(100vw, 0);
}

.wipe-enter.wipe-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: 500ms ease;
}

.wipe-exit {
  opacity: 1;
  position: absolute;
  z-index: 100;
  transform: translate(0, 0);
}

.wipe-leave.wipe-exit-active {
  opacity: 0.01;
  transform: translate(-100vw, 0);
  transition: 500ms ease;
}

.Wrapper {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
