.Setup {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.SetupContainer {
  width: 100%;
}

.setupplayerlist {
  /*margin-top: 100%;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-wrap: nowrap;
  padding-left: 0;
  padding-bottom: 1rem;
}

.setupplayerlist li{
  text-align: center;
  list-style: none;
}

.setupplayerlist li div {
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 1rem;
}

.setupplayerlist ul{
  padding: 0;
  margin-bottom: 0;
}

.buttonchoices {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.buttonchoices > div {
  width: 45%;
}

.PaddedRow {
  padding: 1rem;
  width: 100%;
}

input {
  text-transform: uppercase;
}
